# Node modules (не добавляем зависимости)
node_modules/

# Сборка проекта
build/

# Локальные конфигурации IDE и системы
.vscode/
.DS_Store

# Логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# lock-файлы можно добавить, если хочешь, но обычно их добавляют
# package-lock.json
# yarn.lock
